<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body  {
            /* background-image: url("background2.jpg"); */
            background: linear-gradient(to right, #74ebd5, #acb6e5);
            height: 100vh;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            position: relative;
            }
      
       
        .all-items-container{
           
            display: flex;
            justify-content: space-around;
           

            
        }
        .container-momo{
            display:flex;
            width: 80%;
            height: 40%;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top:40%;
            transform: translate(-50%,-50%);
            justify-content: space-around;
        
        }
        .category{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0px 3px 8px  rgba(4,171,186,1);
            padding: 40px;
            border-radius: 15px;
            width: 200px;
            height: 300px;
            transition: all 0.6s;
            
            
        }
        .category:hover {
            box-shadow: 0px 7px 10px  rgba(4,171,186,1);
            transform: scale(1.1);
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(255, 255, 255)">Networkers Store</a>
        <a class="navbar-brand" style="color: rgb(255, 255, 255)">Products </a>
        <a class="navbar-brand" style="color: rgb(255, 255, 255)"><%= username%></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
            <form method="GET" action='/logout' class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="margin-left: 5px;">Logout</button>
            </form>
        </div>
    </nav>


    <div class='container-momo' >
        <div class="all-items-container">
            <div class="category">
                <img id="image" src="/phones.png" width="100" height="100">
             
                <label >Phones</label>

                <button onclick="location.href = '/phones';" id="phones" class="btn btn-secondary "> View </button>
            </div>
            <div class="category">
                <img id="image" src="/books.png" width="100" height="100">
                
                <label>Books</label>
                
                <button onclick="location.href = '/books';" id="books" class="btn btn-secondary "> View </button>
            </div>
            <div class="category">
                <img id="image" src="/sports.png" width="100" height="100">
                
                <label >Sports</label>
                
                <button onclick="location.href = '/sports';" id="sports" class="btn btn-secondary "> View </button>
            </div>
        </div>
        <div style="display: flex; justify-content: center; padding-top:60px">
            <form method="POST" action='/cart'>
                <button onclick="location.href = '/cart';" id="cart" class="btn btn-secondary ml-3" style="width: 300px;">Cart</button>
            </form>
        </div>

    </div>


</body>
</html>